{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}

Delete Task
{% endblock title %}




{% block content %}
<div class="content-section">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Todo Task</legend>
            
            <h2>Are you sure you want to delete the ( {{ task.name}} )</h2>
            
        </fieldset><br>
        <div class="form-group">
            <form method="post">
            <button class="btn btn-outline-danger" type="submit">Yes</button>
            </form>
            <button class="btn"><a class="btn btn-outline-info btn mt-1 mb-1" href="{% url 'home' %}">No</a></button>
        </div>
    </form><br>

     

</div>





{% endblock content %}