{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}

Update Task
{% endblock title %}




{% block content %}
<div class="content-section">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update Todo Task</legend>
            {{form|crispy}}
        </fieldset><br>
        <div class="form-group">
            <button class="btn btn-outline-success" type="submit">Update</button>
            <button class="btn"><a class="btn btn-outline-info btn mt-1 mb-1" href="{% url 'home' %}">Cancle</a></button>
        </div>
    </form><br>

    

</div>





{% endblock content %}